<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="lockProvider" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="net.javacrumbs.shedlock.core.LockProvider"/>
    </bean>

    <bean id="scheduler" class="net.javacrumbs.shedlock.spring.SpringLockableTaskSchedulerFactoryBean">
        <constructor-arg>
            <task:scheduler id="sch" pool-size="10"/>
        </constructor-arg>
        <constructor-arg ref="lockProvider"/>
        <constructor-arg name="defaultLockAtMostFor">
            <bean class="java.time.Duration" factory-method="ofMinutes">
                <constructor-arg value="10"/>
            </bean>
        </constructor-arg>
    </bean>


    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="task" method="run" fixed-rate="10"/>
    </task:scheduled-tasks>

    <bean id="task" class="net.javacrumbs.shedlock.spring.XmlConfigTest$Task"/>
</beans>