name: CI

on:
  push:
    branches: [master]
  pull_request:
    types: [ opened, reopened, synchronize ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17', '18']
        # Kotlin needs access to java.util
        include:
          - java: '11'
            maven-opts: ''
            maven-params: -pl '!spring/test/shedlock-springboot-future-test'
          - java: '17'
            maven-opts: --add-opens java.base/java.util=ALL-UNNAMED
            maven-params: ''
          - java: '18'
            maven-opts: --add-opens java.base/java.util=ALL-UNNAMED
            maven-params: ''
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'maven'
      - name: Build with Maven
        env:
          MAVEN_OPTS: ${{ matrix.maven-opts }}
        run: mvn ${{ matrix.maven-params }} test javadoc:javadoc
      - name: Upload test results
        uses: actions/upload-artifact@v2  # upload test results
        if: success() || failure()        # run this step even if previous step failed
        with:
          name: test-results
          path: '**/target/surefire-reports/TEST-*.xml'
