name: CI

on:
  push:
    branches: [master]
  pull_request:
    types: [ opened, reopened, synchronize ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '21', '25']
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-
      - name: Run spotless check
        run: ./mvnw spotless:check
      - name: Build with Maven
        env:
          # Kotlin needs access to java.util
          MAVEN_OPTS: --add-opens java.base/java.util=ALL-UNNAMED
        run:  ./mvnw -e validate test package -Perror-prone
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always() # always run even if the previous step fails
        with:
          report_paths: '**/target/surefire-reports/TEST-*.xml'
          annotate_notice: false
          check_name: Test report ${{ matrix.java }}
