name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '17' ]
        # Kotlin needs access to java.util
        include:
          - java: '8'
            maven-opts: ''
            maven-params: -pl '!spring/test/shedlock-springboot-future-test,!providers/etcd/shedlock-provider-etcd-jetcd'
          - java: '11'
            maven-opts: ''
            maven-params: -pl '!spring/test/shedlock-springboot-future-test'
          - java: '17'
            maven-opts: --add-opens java.base/java.util=ALL-UNNAMED
            maven-params: ''
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'maven'
      - name: Build with Maven
        env:
          MAVEN_OPTS: ${{ matrix.maven-opts }}
        run: mvn ${{ matrix.maven-params }} test javadoc:javadoc
